<form formGroup="expenseForm">
  <div>
    <ion-label>Date</ion-label>
    <ion-datetime [formControlName]="date"></ion-datetime>
  </div>
  <div>
    <ion-label>Description</ion-label>
    <ion-input [formControlName]="description"></ion-input>
  </div>
  <div>
    <ion-label>Montant H.T</ion-label>
    <ion-input type="number" [formControlName]="amount"></ion-input>
  </div>
  <div>
    <ion-label>Montant TVA</ion-label>
    <ion-input type="number" [formControlName]="vat"></ion-input>
  </div>
  <div>
    <ion-label>Montant total</ion-label>
    <ion-input type="number" [formControlName]="totalAmount"></ion-input>
  </div>
  <div>
    <ion-label>Catégorie</ion-label>
    <ion-select [formControlName]="categoryUid">
      <ion-select-option [value]="category.uid" *ngFor="let category of categories">
        {{category.label}}
      </ion-select-option>
    </ion-select>
  </div>
  <div>
    <ion-label>Devise</ion-label>
    <ion-select [formControlName]="currencyUid">
      <ion-select-option *ngFor="let currency of currencies"></ion-select-option>
    </ion-select>
  </div>
  <div>
    <ion-label>Taux de TVA</ion-label>
    <ion-select [formControlName]="vatRateUid">
      <ion-select-option *ngFor="let vatRate of vatRates"></ion-select-option>
    </ion-select>
  </div>
</form>
